:root{
    border: 1px solid #dee2e6;
}

body{
	color:#343A40;
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
	letter-spacing: 0.1em;
}

h6 {
	font-weight: 700 !important;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}

.fw-600{
	font-weight: 600 !important;
}


.fw-900{
    font-weight: 900 !important;
}

.fw-lg-900{
	@media screen and (min-width: 992px) {
		font-weight: 900 !important;
	}
}

.fs-6{
font-size: 16px;
font-weight: 600;
letter-spacing: 0.05em;
line-height: 1.5;
}

.mb-lg-80 {
    @media screen and (min-width: 992px) {
        margin-bottom: 80px !important;
    }
}

.mb-lg-60 {
    @media screen and (min-width: 992px) {
        margin-bottom: 60px !important;
    }
}

.fs-lg-6{
    @media screen and (min-width: 992px) {
        line-height: 1.5 !important;
        
    }
}

.pb-lg-100{
    @media screen and (min-width: 992px) {
        padding-bottom: 100px !important;
    }
}

.pb-28{
    padding-bottom: 28px !important;
}

.pb-60{
    padding-bottom: 60px !important;
}

.pb-lg-60{
	@media screen and (min-width: 992px) {
		padding-bottom: 60px !important;
	}
}

.pb-80{
    padding-bottom: 80px !important;
}

.py-60{
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.py-lg-100{
    @media screen and (min-width: 992px) {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
}

.py-lg-80{
    @media screen and (min-width: 992px) {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
}

@media screen and (min-width: 992px) {
    .btn{
        font-size: 20px;
        line-height: 1.2;
        font-weight: 900;
    }
}