body{
	color:#343A40
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
	letter-spacing: 0.1em;
}

h6 {
	font-weight: 400 !important;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}

.fs-6{
font-size: 16px;
font-weight: 600;
letter-spacing: 0.05em;
}