<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg p-0 py-lg-7">
            <div class="container p-0 m-lg-0 mt-2 mb-1">
                <a href="#">
                    <h1 class="text-gray-500 m-0 me-lg-7 fs-3 fs-lg-1">Vivre</h1>
                </a>
                <button class="navbar-toggler collapsed rounded-0 border-0 d-flex d-lg-none p-2-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="bi bi-x-lg fs-4"></i>
                </button>
                <div class="navbar-collapse collapse mt-4 mt-lg-0" id="navbarNav">
                            <input class="form-control bg-white border-1 w-lg mb-5 mb-lg-0 fs-6 py-2-5 px-4" type="search" placeholder="搜尋文章"
                                aria-label="Search">
                                <i class="bi bi-search fs-4 text-accent-200"></i>
                            <ul class="navbar-nav align-items-lg-center gap-lg-4 fw-bold ">
                                <li class="nav-item  mb-7 mb-lg-0">
                                    <a class="nav-link p-2-5 px-lg-4 py-lg-2 d-inline" href="#">所有文章</a>
                                </li>
                                <li class="nav-item  mb-7 mb-lg-0">
                                    <a class="nav-link p-2-5 x-lg-4 py-lg-2 d-inline" href="#">訂閱方案</a>
                                </li>
                                <li class="nav-item  mb-10 mb-lg-0">
                                    <a class="nav-link p-2-5 x-lg-4 py-lg-2 d-inline" href="#">關於我們</a>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-accent-200 text-white w-100 fw-bold fs-6">登入 / 註冊</button>
                                </li>
                            </ul>
                          </div>
                </div>
            </div>
        </nav>
    </div>
</header>