.header {
    .form-control {
        letter-spacing: 0.05em;
    }
    
    .navbar-toggler-icon{
        width: 24px;
        height: 24px;
    }

    .collapsed .navbar-toggler-icon{
        display: block;
    }
    .navbar-toggler-icon{
        display: none;
    }
    .collapsed .bi-x-lg{
        display: none;
    }

    .bi-x-lg{        
        display: block;
    }
}