

.breadcrumb {
    a{
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.05em;
    }
    .d-flex {
        gap: 6px;
    }

    @media screen and (min-width: 992px) {
        .fs-6{
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.1em;
        }
    }
}

.content{
    position: relative;
}

.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


.references{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media screen and (min-width: 992px) {
        .swiper-slide {
            flex-shrink: 1; //很重要的設定，關係到尺寸，之後再來研究
            border-bottom: 1px solid #E9ECEF;

            img {
                height: auto;
            }
        }
      }
}



