.main {
    .container {
        overflow: hidden;
    }

    .banner-img {
        background-image: url("../images/banner-sm.png");
        width: 100%;
        height: 551px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen and (min-width: 992px) {
            background-image: url("../images/banner.png");
            height: 621px;
        }
    }

}

@media screen and (min-width: 992px) {

    .featured,
    .popular,
    .activity,
    .attention,
    .life,
    .share {
        padding: 80px 0 !important;
    }
}

@media screen and (min-width: 992px) {
    .main {
        .banner-img {
            margin: 80px 0 !important;
        }

        .banner-content {
            margin-left: 61px;
        }
    }

    h6 {
        font-weight: 700 !important;

    }

}

.popular {
    .custom-rounded {
        border-radius: 20px 0 20px 0;
    }

    .mask::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212529;
        opacity: 0;
        transition: opacity 0.3s;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .mask:hover::before {
        opacity: 0.4;
        cursor: pointer;
    }

}

.featured {

    .swiper a {
        font-size: 20px;
        line-height: 1.2;
        color: #569573;
        font-weight: 700;
    }

    .swiper p {
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 0.05em;
    }

    .swiper-prev,
    .swiper-next {
        width: 56px;
        height: 32px;
        padding: 4px 16px 4px 16px;
        border-radius: 100px;
    }

    .swiper-slide {
        border-bottom: 1px solid #6c757d;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 192px;
        object-fit: cover;
    }

    .swiper-pagination {
        width: 232px;
        position: relative;
    }

    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: auto;
    }

    .swiper-pagination::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #6c757d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-prev:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .swiper-button-disabled {
        color: #dee2e6;
        border-color: #dee2e6 !important;
    }

    .swiper-button-disabled:hover {
        cursor: default;
        background-color: initial !important;
    }

    .swiper-next:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .only-staff {
        background: #e8e3da;
    }

}



.bg-2-sm::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 96px;
    display: block;
    background-image: url("../images/bg-2-sm.png");
}

@media screen and (min-width: 992px) {
    .activity {
        h6 {
            color: #6E6B67;

        }
    }

    .bg-2::before {
        content: "";
        position: absolute;
        right: 280px;
        bottom: 0;
        width: 300px;
        height: 188px;
        display: block;
        background-image: url("../images/bg-2.png");
    }

    .bg-2::after {
        content: "";
        position: absolute;
        left: 324px;
        bottom: 0;
        width: 217px;
        height: 73px;
        display: block;
        background-image: url("../images/bg-1.png");
    }

}

.tag {
    a {
        color: #6E6B67;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.1em;
        margin-right: 10px;
        border-radius: 4px;
    }
}

.attention {
    .nav-link {
        letter-spacing: 0.1em;
        color: #212529;
        font-weight: 900;
        padding: 16px;
        border-radius: 4px;
        margin-bottom: 24px;

        &.active {
            background-color: #E0EFDE;
        }
    }

    .shadow {
        box-shadow: 0px 2px 8px #6e6b6714 !important;
    }

    .pic-1 {
        border-radius: 20px 0px 4px 20px;
    }

    .pic-2,
    .pic-3 {
        border-radius: 4px;
    }

    .pic-4 {
        border-radius: 0px 20px 20px 0px;
    }

    h5 {
        font-weight: 900;
    }

    @media screen and (min-width: 992px) {
        h4 {
            font-weight: 900;
        }
    }
}

.life {
    h4 {
        font-size: 32px;
        font-weight: 900;
    }

    .fs-1 {
        font-weight: 900;
    }

    .fs-6 {
        font-weight: 700;
        line-height: 19.2px;
        letter-spacing: 0.1em;
    }

    .life-swiper-prev,
    .life-swiper-next {
        width: 56px;
        height: 32px;
    }

    .life-swiper-pagination::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #6c757d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .life-swiper-pagination {
        width: 232px;
        position: relative;
    }

    .life-swiper-pagination-custom,
    .life-swiper-pagination-fraction {
        width: auto;
    }

    .life-swiper-prev:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .life-swiper-next:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

}

@media screen and (max-width: 992px) {

    .w-lg {
        width: 416px !important;
    }
}



.proposal {
    .top-lable {
        position: absolute;
        top: 0px;
        left: 16px;
        width: auto;
        height: auto;
        padding: 8px 12px;
        border-radius: 4px;
        background-color: white;
    }

    .proposal-content {
        position: absolute;
        // width: 100%;
        bottom: 0;
        left: 0;
        padding: 12px;
    }
      .swiper-slide {
        display: flex;
        justify-content: center;
      }

      @media screen and (min-width: 992px) {
        .swiper-wrapper{
            flex-wrap: wrap;
            flex-direction: row;

            gap:0 24px;
        }

        .swiper-slide{
            width: auto; //因為這個找了好久沒版法用wrap
        }
        .move-top{
            margin-top: 64px;
        }
        .cttractions-card{
            margin-top: -43px;
        }
    }
}

.share{
    h4{
        font-weight: 900;
    }
}