<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="main">
      <banner>
        <div class="container">
          <div class="banner-img text-white justify-content-center justify-content-lg-start d-flex align-items-end align-items-lg-center">
            <div class="banner-content d-flex flex-column align-items-center mb-9 mb-lg-0 d-lg-block">
              <div>
                <h6 class=" fs-lg-4 gray-white mb-lg-2-5 mb-2 text-center text-lg-start">獻給新世代的生活風格誌</h5>
                <h3 class=" fs-lg-1 mb-4 mb-lg-5">一起探索生活的無限可能</h3>
              </div>
              <button class="btn btn-accent-200 text-white" type="button">馬上訂閱</button>
            </div>
          </div>
        </div>
      </banner>

      <div class="popular">
        <div class="container">
          <div class="row row-cols-3">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
        </div>
      </div>










    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>